%div.navbar.navbar-inverse.navbar-fixed-top{id: 'header'}
  %div.navbar-header 
    %a.navbar-brand Margh's Stutter Step Trainer!

%div.container{id: 'stutter'}

  %div{id: 'keys'}
    %span.keyRow
      %i.fa.fa-arrow-up.key{id: 'w'}
    %span.keyRow
      %i.fa.fa-arrow-left.key{id: 'a'}
      %i.fa.fa-arrow-down.key{id: 's'}
      %i.fa.fa-arrow-right.key{id: 'd'}