%div.navbar.navbar-inverse.navbar-fixed-top{id: 'header'}
  %div.navbar-header 
    %a.navbar-brand Supersaurus' Stutter Step Trainer!

%div.container{id: 'stutter'}
  %div.h1 kgo!

  %div{id: 'keys'}
    %span.upper
      %i.fa.fa-arrow-up.key.w
    %span.lower
      %i.fa.fa-arrow-left.key.a
      %i.fa.fa-arrow-down.key.s
      %i.fa.fa-arrow-right.key.d